header .landing{
    margin: 0;
    width: 100%;
    background-image: url("landing.jpg");
    height: 855px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;

}
.nav div{
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}
.nav{
    width: 30px;
    display: block;
    margin: 9em 0 0 5em;
    float: left;
}

.one{
    width: 50px;
}
.two{
    width: 50px;
}
.three{
    width: 50px;
}
.nav div:hover {
    width: max-content;
    background-color: black;
}
.logo{
    position: relative;
    padding-top: 250px;
    padding-left: 650px;
    flex: auto;
}
.occassion{
   font-size: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: coral;
}
.occassion .haparty, .breakfast, .lunch, .dinner{
    width: 25%;
    color: white;
    text-align: center;
}
.occassion .breakfast{
    background-image: url("breakfast.jpg");
    background-position: center;
    background-size: cover;
}
.occassion .lunch{
    background-image: url("lunch.jpg");
    background-position: center;
    background-size: cover;
}
.occassion .dinner{
    background-image: url("dinner.jpg");
    background-position: center;
    background-size: cover;
}
.occassion .haparty{
    display: grid;
    grid-auto-rows: 1fr;
}
.occassion .haparty .happy{
    background-color: white;
    color: #F15A29;
    border: 2px solid yellowgreen;
}

.slogan{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-bottom: 10px;
}























