header{
    margin: 0;
    width: 100%;
    background-image: url("landing.jpg");
    height: 855px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
}
.nav div{
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}
.nav{
    width: 30px;
    display: block;
    margin: 9em 0 0 5em;
    float: left;
}

.one{
    width: 50px;
}
.two{
    width: 50px;
}
.three{
    width: 50px;
}
.nav div:hover {
    width: max-content;
    background-color: black;
}
.logo{
    position: relative;
    padding-top: 250px;
    padding-left: 650px;
    flex: auto;
}
.occassion{
   font-size: 30px;
}
.happy{
    background-color: wheat;
    /* background-size: 700px; */
    width: 200px;
    padding-left: 50px;
    height: 50px;
    padding-top: 20px;
}
.party{
    background-color:rgba(235, 78, 31, 0.836);
    /* background-size: 600px; */
    width: 200px;
    padding-left: 50px;
    height: 40px;
    padding-top: 20px;
    color: white;
}
.slogan{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-bottom: 10px;
}





















